@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// **Be sure that you only ever include this mixin once!**
@include mat-core();

//http://mcg.mbitson.com/#!?mcgpalette0=%233f51b5
$thea-primary: (
  50 : #e8eaf6,
  100 : #c5cbe9,
  200 : #9fa8da,
  300 : #7985cb,
  400 : #5c6bc0,
  500 : #3f51b5,
  600 : #394aae,
  700 : #3140a5,
  800 : #29379d,
  900 : #1b278d,
  A100 : #c6cbff,
  A200 : #939dff,
  A400 : #606eff,
  A700 : #4757ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$thea-accent: (
  50 : #e8eaf6,
  100 : #c5cbe9,
  200 : #9fa8da,
  300 : #7985cb,
  400 : #5c6bc0,
  500 : #3f51b5,
  600 : #394aae,
  700 : #3140a5,
  800 : #29379d,
  900 : #1b278d,
  A100 : #c6cbff,
  A200 : #939dff,
  A400 : #606eff,
  A700 : #4757ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

// Define the default theme (same as the example above).
$theahotel-primary: mat-palette($thea-primary, 700, 300, 900);
$theahotel-accent:  mat-palette($thea-accent, 300); //Lighter , Darker and Default
$theahotel:   mat-light-theme($theahotel-primary, $theahotel-accent);
$theahotel-warn: mat-palette($mat-red);

// Include the default theme styles.
@include angular-material-theme($theahotel);

.navtabs-container {
  background: mat-color($theahotel-primary, lighter);
}

.mat-list-option:hover,
.mat-list-option.mat-list-item-focus,
.mat-nav-list .mat-list-item:hover,
.mat-nav-list .mat-list-item.mat-list-iterm-focus{
  background-color: mat-color($theahotel-primary, 300) ;  //Hover colour
  color: mat-color($theahotel-primary, 900); //Hover Text colour
}


// Define an alternate dark theme.
$dark-primary: mat-palette($mat-blue-grey);
$dark-accent:  mat-palette($mat-amber, A200, A100, A400);
$dark-warn:    mat-palette($mat-deep-orange);
$dark-theme:   mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

// Include the alternative theme styles inside of a block with a CSS class. You can make this
// CSS class whatever you want. In this example, any component inside of an element with
// `.unicorn-dark-theme` will be affected by this alternate dark theme instead of the default theme.
.unicorn-dark-theme {
  @include angular-material-theme($dark-theme);
}
